- Title: Reshape a pandas DataFrame
- Slug: python-pandas-reshape
- Date: 2020-06-15 11:41:45
- Category: Computer Science
- Tags: programming, Python, pandas, DataFrame, reshape, repeat
- Author: Ben Du
- Modified: 2020-06-15 11:41:45

# Reshape DataFrame

In [9]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.DataFrame({'x': [1, 2, 3], 'y': [5, 4, 3]})
df1

   x  y
0  1  5
1  2  4
2  3  3

In [3]:
df2 = pd.DataFrame({'x': [0, 0, 3000], 'y': [78, 4, 3]})
df2

      x   y
0     0  78
1     0   4
2  3000   3

## Concate Rows

You can use both the `DataFrame.append` (returns a new data frame rather than in-place) and `pandas.concat` to concate rows of data frames. 
`pandas.concat` is recommended when you want to concate rows of multiple data frames.

In [4]:
df1.append(df2, ignore_index=True)

      x   y
0     1   5
1     2   4
2     3   3
3     0  78
4     0   4
5  3000   3

In [5]:
df1

   x  y
0  1  5
1  2  4
2  3  3

In [6]:
pd.concat([df1, df2], ignore_index=True)

      x   y
0     1   5
1     2   4
2     3   3
3     0  78
4     0   4
5  3000   3

Repeat rows of a DataFrame.

In [11]:
pd.concat([df1] * 3, ignore_index=True)

   x  y
0  1  5
1  2  4
2  3  3
3  1  5
4  2  4
5  3  3
6  1  5
7  2  4
8  3  3

## Concate Columns

In [7]:
pd.concat([df1, df2], axis=1)

   x  y     x   y
0  1  5     0  78
1  2  4     0   4
2  3  3  3000   3

In [8]:
pd.concat([df1, df2], ignore_index=True, axis=1)

   0  1     2   3
0  1  5     0  78
1  2  4     0   4
2  3  3  3000   3