- Title: Format Date and Time in Python
- Slug: python-datetime-format
- Date: 2021-04-30 12:35:25
- Category: Computer Science
- Tags: programming, Python, time, datetime, date, format
- Author: Ben Du
- Modified: 2021-03-30 12:35:25

## Date/Time Format 

Please refer to https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
for a complete list of formats.

## Time to String

In [4]:
import datetime
import pandas as pd
pd.options.display.max_colwidth = 100
now = datetime.datetime.now()
formats = [
    ("%Y-%m-%d", ""),
    ("%y-%m-%d", ""),
    ("%x", ""),
    ("%H:%M:%S", ""),
    ("%I:%M:%S", ""),
    ("%Y-%m-%d %H:%M:%S", ""),
    ("%Y-%m-%d %H:%M:%S.%f", ""),
    ("%Y-%m-%d %X", ""),
    ("%Y-%m-%d %H:%M:%S %z", ""),
    ("%W", ""),
    ("%w", ""),
    ("%c", ""),
    ("%B", ""),
    ("%b", ""),
    ("%A", ""),
    ("%a", ""),
    ("%z", ""),
    ("%%", ""),
]
# examples = [[f, now.strftime(f)] for f in formats]
df = pd.DataFrame(formats, columns=["Fomat", "Comment"])
df.insert(1, column="Examples", value=[now.strftime(fmt) for fmt, _ in formats])
df

                   Fomat                    Examples Comment
0               %Y-%m-%d                  2021-03-30
1               %y-%m-%d                    21-03-30
2                     %x                    03/30/21
3               %H:%M:%S                    12:33:18
4               %I:%M:%S                    12:33:18
5      %Y-%m-%d %H:%M:%S         2021-03-30 12:33:18
6   %Y-%m-%d %H:%M:%S.%f  2021-03-30 12:33:18.705746
7            %Y-%m-%d %X         2021-03-30 12:33:18
8   %Y-%m-%d %H:%M:%S %z        2021-03-30 12:33:18
9                     %W                          13
10                    %w                           2
11                    %c    Tue Mar 30 12:33:18 2021
12                    %B                       March
13                    %b                         Mar
14                    %A                     Tuesday
15                    %a                         Tue
16                    %z
17                    %%                           %

## Date to String

In [7]:
d = datetime.date(2017, 1, 9)
d

datetime.date(2017, 1, 9)

In [8]:
d.strftime('%Y-%m-%d')

'2017-01-09'

In [9]:
str(d)

'2017-01-09'

## References 

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes