In [1]:
%defaultDatasource jdbc:sqlite:

In [2]:
create table players (
    id int,
    user_name text primary key,
    age int
)

In [3]:
insert into players (
    id, user_name, age
) values (
    1982, 'Johnny', 23
), (
    1983, 'Steven', 29
), (
    1984, 'pepee', 40
)

In [4]:
select * from players

In [5]:
INSERT INTO players (
    user_name, age
) VALUES (
    'Steven', 32
) ON CONFLICT (user_name) DO UPDATE 
SET age = excluded.age
;

In [6]:
select * from players