- Title: Create a Date Range in Python
- Slug: python-date-range
- Date: 2020-11-01 19:59:37
- Category: Computer Science
- Tags: programming, Python, date, datetime, time, range, sequence
- Author: Ben Du
- Modified: 2020-11-01 19:59:37

## `pandas.date_range`

In [1]:
import pandas as pd
import datetime

In [2]:
pd.date_range('2018-01-01', '2018-01-10')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [3]:
t1 = datetime.datetime.now()
t2 = datetime.datetime.now() + datetime.timedelta(days=10)
pd.date_range(t1, t2)

DatetimeIndex(['2020-11-01 19:58:04.158545', '2020-11-02 19:58:04.158545',
               '2020-11-03 19:58:04.158545', '2020-11-04 19:58:04.158545',
               '2020-11-05 19:58:04.158545', '2020-11-06 19:58:04.158545',
               '2020-11-07 19:58:04.158545', '2020-11-08 19:58:04.158545',
               '2020-11-09 19:58:04.158545', '2020-11-10 19:58:04.158545',
               '2020-11-11 19:58:04.158545'],
              dtype='datetime64[ns]', freq='D')

## [pandas.timedelta_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.timedelta_range.html)

## [pandas.period_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.period_range.html)

## [pandas.bdate_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.bdate_range.html)

## References

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

[Time series / date functionality](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html)

[pandas.timedelta_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.timedelta_range.html)

[pandas.period_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.period_range.html)

[pandas.bdate_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.bdate_range.html)