- Author: Ben Du
- Date: 2020-06-27 12:26:43
- Title: Query Pandas Data Frames Using SQL
- Slug: query-pandas-data-frames-using-sql
- Category: Computer Science
- Tags: Computer Science, pandas, DataFrame, dask, SQL, query, database, framequery, pandasql, ibis
- Modified: 2020-06-27 12:26:43

## [framequery](https://github.com/chmp/framequery)

## [pandasql](https://github.com/yhat/pandasql)

## [ibis](https://github.com/ibis-project/ibis)

## References

https://github.com/chmp/framequery

https://github.com/chmp/framequery/blob/master/docs/Usage.md

https://github.com/chmp/framequery/blob/master/docs/API.md