- Title: Options for the pandas Package in Python
- Slug: options-pandas-python
- Date: 2019-11-13
- Category: Programming
- Tags: programming, Python, pandas, options
- Author: Ben Du

https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [1]:
import pandas as pd

## Max Number of Columns to Display

In [3]:
pd.options.display.max_columns = 100

## Max Number of Rows to Display

In [4]:
pd.options.display.max_rows = 500

## Max Column Width to Display

`pd.options.display.max_colwidth`

In [1]:
import pandas as pd
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'link': ['http://a_super_loooooooooooooooooooooooooooooooong_link.com', '', '', '', '']
})
df

   id                                               link
0   1  http://a_super_loooooooooooooooooooooooooooooo...
1   2
2   3
3   4
4   5

In [2]:
pd.options.display.max_colwidth = -1
# pd.set_option('display.max_colwidth', -1)
df

   id                                                         link
0  1   http://a_super_loooooooooooooooooooooooooooooooong_link.com
1  2
2  3
3  4
4  5

## Display Formatting of Floating Numbers

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(100, 10000, size=(4, 2)), columns=['a', 'b'])
df.head()

      a     b
0  9130  4028
1  7134  4415
2  3279  8791
3  2602  8575

In [11]:
df.dtypes

a    int64
b    int64
dtype: object

In [12]:
pd.options.display.float_format = '{:,}'.format

In [13]:
df

      a     b
0  9130  4028
1  7134  4415
2  3279  8791
3  2602  8575

In [8]:
dir(pd.options.display)

['chop_threshold',
 'colheader_justify',
 'column_space',
 'date_dayfirst',
 'date_yearfirst',
 'encoding',
 'expand_frame_repr',
 'float_format',
 'height',
 'html',
 'large_repr',
 'latex',
 'line_width',
 'max_categories',
 'max_columns',
 'max_colwidth',
 'max_info_columns',
 'max_info_rows',
 'max_rows',
 'max_seq_items',
 'memory_usage',
 'multi_sparse',
 'notebook_repr_html',
 'pprint_nest_depth',
 'precision',
 'show_dimensions',
 'unicode',
 'width']

## Display Formatting for Integers

https://stackoverflow.com/questions/29663252/format-pandas-integers-for-display