- Title: User-defined Function (UDF) in PySpark
- Slug: pyspark-udf
- Date: 2019-12-23
- Category: Programming
- Tags: programming, Python, HPC, high performance computing, PySpark, UDF
- Author: Ben Du

In [1]:
import pandas as pd
import findspark
# A symbolic link of the Spark Home is made to /opt/spark for convenience
findspark.init('/opt/spark')

from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import StructType
spark = SparkSession.builder.appName('PySpark Example').enableHiveSupport().getOrCreate()

In [3]:
df = pd.DataFrame(data=[
    ["Ben", 2, 30],
    ["Dan", 4, 25],
    ["Will", 1, 26],
], columns=["name", "id", "age"])
df

   name  id  age
0   Ben   2   30
1   Dan   4   25
2  Will   1   26

## References

https://medium.com/@ayplam/developing-pyspark-udfs-d179db0ccc87
    
https://docs.databricks.com/spark/latest/spark-sql/udf-python.html
    
https://changhsinlee.com/pyspark-udf/
    
https://medium.com/@ayplam/developing-pyspark-udfs-d179db0ccc87