- Title: Split a Dataset into Train and Test Datasets in Python
- Slug: python-ai-split-dataset
- Date: 2020-02-04 14:43:46
- Category: Programming
- Tags: programming, Python, AI, data science, machine learning
- Author: Ben Du

[sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) 
is the best way to split a dataset into train and test subset.
It supports both pandas DataFrames/Series and numpy arrays.

In [5]:
import pandas as pd

In [8]:
df = pd.read_csv("http://www.legendu.net/media/data/iris.csv")
df.head()

,id,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [9]:
df.shape

(150, 6)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train, test = train_test_split(df, test_size=0.2, random_state=119)

Notice that an integer value 119 is passed to the parameter `random_state`.
This is STRONGLY suggested as it enables to reproduce your work later.
It is generally a good idea to set a seed for the random number generator 
when you build a model.

In [12]:
train.head()

,id,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
122,123,7.7,2.8,6.7,2.0,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
34,35,4.9,3.1,1.5,0.1,Iris-setosa
123,124,6.3,2.7,4.9,1.8,Iris-virginica
69,70,5.6,2.5,3.9,1.1,Iris-versicolor

In [13]:
train.shape

(120, 6)

In [14]:
test.head()

,id,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
37,38,4.9,3.1,1.5,0.1,Iris-setosa
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
31,32,5.4,3.4,1.5,0.4,Iris-setosa
102,103,7.1,3.0,5.9,2.1,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica

In [15]:
test.shape

(30, 6)

## References

https://stackoverflow.com/questions/24147278/how-do-i-create-test-and-train-samples-from-one-dataframe-with-pandas