- Author: Ben Du
- Date: 2020-04-26 15:26:49
- Title: Pivot Table in SQL
- Slug: pivot-table-in-sql
- Category: Computer Science
- Tags: Computer Science, pivot, SQL, pivot table
- Modified: 2020-04-26 15:26:49

## References

[SQL Pivot: Converting Rows to Columns](https://databricks.com/blog/2018/11/01/sql-pivot-converting-rows-to-columns.html)

[Reshaping Data with Pivot in Apache Spark](https://databricks.com/blog/2016/02/09/reshaping-data-with-pivot-in-apache-spark.html)

[How to Pivot a Table with Amazon Redshift or PostgreSQL](https://chartio.com/resources/tutorials/how-to-pivot-table-with-redshift-or-postgres/)

[Redshift Pivot Table-Transpose Rows to Column and Example](https://dwgeek.com/redshift-pivot-table-transpose-rows-to-column-and-example.html/)