- Title: Equality by Reference and Value in Python
- Slug: equality-by-reference-and-value-in-python
- Date: 2019-10-22
- Category: Computer Science
- Tags: programming, Python, equality, equal, reference, value, immutable
- Author: Ben Du
- Modified: 2019-10-22

Below is a summary of equality by reference and value in different programming languages.

In [1]:
import pandas as pd
s = '''
	Reference	Value
Python	is	==
R	[1]	==
Java	==	equals
Scala	eq [2]	== or equals [3]
'''
data = [line.split('\t') for line in s.split('\n') if line != '']
pd.DataFrame(data[1:], columns=data[0])

          Reference             Value
0  Python        is                ==
1       R       [1]                ==
2    Java        ==            equals
3   Scala    eq [2]  == or equals [3]

## Tips and Tricks

`[]` and `[]` are 2 indepedent (empty) list objects with different address.
However, 
`()` and `()` are the same (empty) tuple singleton. 
The reason is that list is mutable while tuple is immutable.

In [1]:
[] is []

False

In [2]:
[] == []

True

In [12]:
() is ()

True

In [11]:
() == ()

True

Below are more examples.

In [14]:
a = [1, 2, 3]
b = a[:]
a is b

False

In [15]:
from copy import copy
a = [1, 2, 3]
copy(a) is a

False

In [18]:
c = (1, 2, 3)
d = c[:]
c is d

True

In [17]:
c = (1, 2, 3)
copy(c) is c

True

In [20]:
c = (1, 2, 3)
e = (1, 2, 3)
c is e

False

Notice that since `str` is immutable (similar to tuple) in Python,
it has similar behavior on equaility to tuple.

In [21]:
f = "ABC"
g = "ABC"
f is g

True

In [22]:
f = "ABC"
copy(f) is f

True

In [23]:
f = "ABC"
h = f[:]
f is h

True