- Title: Add level to a MultiIndexes in pandas
- Slug: python-pandas-multiindex-add-level
- Date: 2020-07-31 09:39:02
- Category: Computer Science
- Tags: programming, Python, pandas, Index, DataFrame, MultiIndex, add level
- Author: Ben Du
- Modified: 2020-07-31 09:39:02

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
from beakerx import beakerx, TableDisplay
beakerx.pandas_display_default()

In [11]:
df = pd.DataFrame(
    {
        'month': [1, 4, 7, 10],
        'year': [2012, 2014, 2013, 2014],
        'sale': [55, 40, 84, 31]
    }
)
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

## Add a Level to Row Index

In [18]:
df2 = pd.concat([df], keys=['Foo'], names=['Firstlevel'])
df2

              month  year  sale
Firstlevel
Foo        0      1  2012    55
           1      4  2014    40
           2      7  2013    84
           3     10  2014    31

In [19]:
df2.index

MultiIndex(levels=[['Foo'], [0, 1, 2, 3]],
           labels=[[0, 0, 0, 0], [0, 1, 2, 3]],
           names=['Firstlevel', None])

In [20]:
df2.columns

Index(['month', 'year', 'sale'], dtype='object')

## Add a Level to Column Index

In [15]:
df3 = pd.concat([df], keys=['Foo'], names=['Firstlevel'], axis=1)
df3

Firstlevel   Foo
           month  year sale
0              1  2012   55
1              4  2014   40
2              7  2013   84
3             10  2014   31

In [16]:
df3.columns

MultiIndex(levels=[['Foo'], ['month', 'year', 'sale']],
           labels=[[0, 0, 0], [0, 1, 2]],
           names=['Firstlevel', None])

In [17]:
df3.index

RangeIndex(start=0, stop=4, step=1)